<%- include("header") -%>

<h2>This is the about page</h2>

<p>THIS is a TODOLIST PAGE</p>
<ul>
    <li><h3>
        EJS
    </h3></li>
    <li><h3>
        NODE + EXPRESS
    </h3></li>
    <li><h3>
        MONGOOSE
    </h3></li>
</ul>

<%- include("footer") -%>
