
<body>
    <header>
        <%- include('header') %>
    </header>
<h1>LeetCode Problems</h1>
<ol>
    <li>
        <a href="/validparenthesis">validparenthesis</a>
    </li>
</ol>

    <footer>
        <%- include('footer') %>
    </footer>
</body>
